<h1> Room </h1>
<p>This is a demo of chatroom page</p>
<p>
    The room you are visiting is {{ roomName }}
</p>
<form >
    <input type="text" name="message" placeholder="enter a message" />
    <input type="submit" value="send message"/>
</form>