<h1> Room </h1>
<p>This is a demo of chatroom page</p>
<p>
    The room you are visiting is {{ roomName }}
</p>
<form action="/sendMessage" method="POST">
    <input type="hidden" name="messageText" value="{{roomName}}"/>
    <input type="text" name="messageText" placeholder="enter a message" />
    <input type="submit" value="send message"/>
</form>